<div class="formulaire">
  <div class="list-task">
    <form [formGroup]="taskForm" (ngSubmit)=onSaveTasks()>
      <div class="form-group">
        <input placeholder="Ajouter une tâche" type="text" class="form-control" formControlName="title">
      </div>
      <!-- <div class="form-group">
        <label for="desc">Description</label>
        <input type="text" id="desc" class="form-control" formControlName="desc">
      </div> -->
      <div class="form-group">
        <input type="date" class="form-control" formControlName="date" [ngModel]="today | date:'yyyy-MM-dd'"
       (ngModelChange)="today"  >
      </div>
      <button class="btn btn-success" [disabled]="taskForm.invalid">Ajouter</button>
    </form>
  </div>
</div>
