.nav-color{
  background-color: #14151a;
  border-color: #14151a;
}
.navbar-default .navbar-nav > .active > a{
  background-color: #14151a;
  color: #999;
}
.navbar-default .navbar-nav > li > a{
  color: #eee;
}
