
<div class="row">
  <div class="text-center title-date">
    <p style="font-size: 2.5em">{{ Day | date: 'EEEE d MMMM' : '+0200' : 'fr' | uppercase }}</p>
  </div>
  <div class="col-sm-6 tasks">
    <h2>Tâches</h2>
    <app-task-list></app-task-list>
  </div>
  <div class="col-sm-6 repas">
    <h2>Repas de la semaine</h2>
    <app-repas-list></app-repas-list>
  </div>
</div>

<footer class="page-footer font-small">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <p> Julien Durand</p>
  </div>
</footer>
